<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DadoGuia">

        <!-- Activity principal (pantalla de configuración) -->
        <activity
            android:name=".MainActivityGuia"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity del juego (GridLayout con Fragmentos Dado) -->
        <activity
            android:name=".JuegoActivityGuia"
            android:exported="false" />
        <!-- exportado = false porque no se abre desde fuera de la app -->

    </application>

</manifest>
